 .section1, .section2, .section3, .section4, .section5, .section6 {
            width: 100%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .section1 {
            background-image: url('https://i.imgur.com/jQtw0Mi.png');
        }

        .cabecalho {
            background-color: #013A40;
            height: 50px;
            left: 0;
            right: 0;
            position: fixed;
            width: 100%;
        }

        .subtitulo3 {
            font-size: 30px;
            text-align: center;
            color: white;
            font-family: "Lato";
            font-weight: bold;
        }

        .linha2 {
            display: flex;
            flex-wrap: wrap;
        }

        .coluna-50 {
            text-align: center;
            width: 50%;
        }

        .logors {
            width: 100%;
            max-width: 600px;
            padding: 10%;
        }

        .boxformulario {
            padding: 20px;
            width: 100%;
            max-width: 700px;
            height: auto;
            background-color: #013A40;
            border-radius: 20px;
            margin: 0 auto;
        }

        .descricaomarca {
            width: 100%;
            max-width: 900px;
            font-size: 30px;
            text-align: center;
            color: #0EFF00;
            font-family: "Lato";
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .tituloform, .descricaoform, .subtitulo2, .subtitulo, .subtitulologo {
            text-align: center;
            font-family: "Lato";
        }

        .tituloform, .titulo1 {
            font-size: 30px;
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .descricaoform {
            font-size: 20px;
            color: #0EFF00;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .button {
            background-color: #329AA6;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 15px;
        }

        .subtitulo2 {
            font-size: 20px;
            color: #329AA6;
        }

        .titulo {
            height: 127px;
            width: 100%;
            max-width: 715px;
            display: flex;
            margin-right: auto;
            margin-left: auto;
        }

        .titulo1 {
            font-size: 40px;
            color: #329AA6;
            font-weight: bold;
            margin-top: 10px;
        }

        .descrição {
            margin-top: 15px;
            font-size: 18px;
            text-align: center;
        }

        .subtitulo {
            font-size: 30px;
            color: #329AA6;
            font-weight: bold;
            margin-top: 20px;
        }

        .descrição2 {
            font-size: 18px;
            text-align: center;
        }

        .coluna-100 {
            text-align: center;
            width: 100%;
        }

        .inputbox {
            padding-bottom: 0px;
            height: 60px;
            margin-top: 20px;
        }

        .inputcss {
            width: 90%;
            border-radius: 13px;
            height: 40px;
        }

        .coluna-50dir, .coluna-50esq {
            text-align: center;
            width: 50%;
            margin: 20px;
        }

        .inputbox2 {
            padding-bottom: 0px;
            height: 120px;
            margin-top: 20px;
        }

        .inputcss2 {
            padding-top: 10px;
            width: 90%;
            border-radius: 13px;
            height: 100px;
        }

        .buttonform {
            background-color: white;
            color: black;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 15px;
        }

        .linha {
            display: flex;
            flex-flow: row wrap;
        }

        .coluna-20, .coluna-25, .coluna-30, .coluna-10, .coluna-15 {
            text-align: center;
            width: 100%;
            margin-bottom: 50px;
            margin-top: 10px;
        }

        .coluna-20 { max-width: 20%; }
        .coluna-25 { max-width: 25%; }
        .coluna-30 { max-width: 30%; }
        .coluna-10 { max-width: 10%; }
        .coluna-15 { max-width: 15%; }

        .yout {
            padding: 10px;
        }

        .boxformulario1 {
            width: 100%;
            max-width: 900px;
            height: auto;
            background-color: #013A40;
            border-radius: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .subtitulologo {
            font-size: 50px;
            color: #329AA6;
            font-weight: bold;
        }

        .rodapé1, .rodapé1a, .rodapé2a {
            text-align: center;
            color: white;
            font-family: "Lato";
            font-weight: 600;
        }

        .rodapé1 { font-size: 16px; margin-top: 15%; }
        .rodapé1a { font-size: 20px; margin-top: 5%; }
        .rodapé2a { font-size: 38px; margin-top: 5%; }

        .boxmarca {
            width: 80%;
            height: 100%;
            box-shadow: -0px -0px 5px 5px black;
            border-radius: 20px;
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 2px;
            margin-bottom: 2%;
            text-align: center;
        }

        .titulomarca, .segmentomarca, .resumomarca {
            text-align: center;
            font-family: "Lato";
            font-weight: bold;
        }

        .titulomarca { font-size: 30px; margin: 10px; padding-top: 30px; }
        .segmentomarca, .resumomarca { font-size: 30px; color: #329AA6; margin: 15px; }
